/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

:root.theme-dark {
  --heading-text: #db00ff;
  --accent-color: #ff0070;
  --subtitle-color: #000028;
  --section-title-color: #ff0070;
  --bg-color: #000028;
  --border-bottom: #f1b2ce;
  --border-color-hover: #ff007066;
  --text-color: #f1b2ce;
  --border-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
}

.theme-dark .page {
  background-image: var(--bg-image);
  background-color: var(--bg-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --heading-text: #db00ff;
    --accent-color: #ff0070;
    --subtitle-color: #000028;
    --section-title-color: #ff0070;
    --bg-color: #000028;
    --border-bottom: #f1b2ce;
    --border-color-hover: #ff007066;
    --text-color: #f1b2ce;
    --border-color: #ff0070;
    --bg-image: url(../images/cover-image-dark.png);
  }
}